body {
  background: #ecf0f3;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  width: 650px;
  border-radius: 20px;
  padding: 1rem;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  /* background-color: rgb(40, 7, 185); */
  color: grey;
  text-align: center;
  border-radius: 10px;
  margin: 10px 0px 10px 0px;
}

li {
  list-style: none;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  border-bottom: 1px solid grey;
  width: 100%;
}

.viewTask {
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
}

.addTask {
  border: 0.5px solid;
  margin: 0px 0px 0px 10px;
  align-items: flex-end;
  padding: 1px;
}

ul {
  padding-left: 0;
}

.input-box {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  border: 0.5px solid grey;
  border-radius: 5px;
}

p {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
}

.task-box {
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}
