body {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  background-color: rgb(40, 7, 185);
  color: white;
  text-align: center;
  border-radius: 10px;
  margin: 10px 0px 10px 0px;
}

li {
  list-style: none;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  border-bottom: 1px solid grey;
  width: 100%;
}

.viewTask {
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
}

.addTask {
  border: none !important;
  margin: 0px 0px 0px 10px;
  align-items: flex-end;
  padding: 1px;
}

ul {
  padding-left: 0;
}

input,
p {
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
}

.task-box {
  padding: 10px;
  margin-top: 10px;
  background-color: lightblue;
  border-radius: 10px;
}
